header {
	background-color: white;
	color: black;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	width: 100%;
	background-attachment: fixed;
	box-sizing:border-box;
	padding: 0px; 
}

header h1 {
	float: left;
	display: inline-block;
}

h1 {
	color: black;
	float: left;
	display: inline;
	font-size: 30px;
}

div.collapse.navbar-collapse {
	float: right;
}

div.container-fluid {
	border: none;
}

.container-fluid button {
	background-color: black;
}

ul {
	float: right;
	background-color: white;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-inverse .navbar-nav li {
	float: right;
	display: inline;
	color: black;
}

.navbar-inverse .navbar-nav li:hover {
	background-color: black;
}



.navbar-inverse .navbar-nav li a {
	color: black;
	float: right;
}

.navbar-inverse .navbar-nav li a:hover{
	color: white;
}

button.navbar-toggle.collapsed {
	background-color: black;
}

nav.navbar.navbar-inverse.navbar-static-top {
	background-color: white;
	border: none;
}

/*nav.navbar.navbar-inverse.navbar-static-top {
    display: inline-block;
    width: 70%;
    background: white;
    float: right;
    border: none;
    padding: 0px;
    margin-right: -15px;
    height: 69px;
    margin-bottom: 0px;
}*/

/*nav.navbar.navbar-inverse.navbar-static-top div.container {
	color: black;
	float: right;
	width: inherit;
	margin: 0px 0px;
	padding: 0px;
	border: none;
    margin-right: 0px;
    height: 69px;
    margin-bottom: 0px;
}

nav.navbar.navbar-inverse.navbar-static-top div.container div.collapse.navbar-collapse {
	color: black;
}*/

/*nav.navbar.navbar-inverse.navbar-static-top div.container div.collapse.navbar-collapse ul.nav.navbar-nav {
 	color: black;
 	width: 521.844px;
 	border: none;
    padding: none;
    margin-right: -15px;
    height: 69px;
    margin-bottom: 0px;
    float: left;
}*/

/*nav.navbar.navbar-inverse.navbar-static-top div.container div.collapse.navbar-collapse ul.nav.navbar-nav li {
	color: black;
	height: 69px;
	position: center;
	border: none;
	margin: 10px 10px;
	line-height: 69px;
	margin: 0px 5px;
	padding: 0px;
	display: inline-block;
	float: right;
}*/

/*nav.navbar.navbar-inverse.navbar-static-top div.container div.collapse.navbar-collapse ul.nav.navbar-nav li:hover {
	background-color: black;
	color: white;
}

nav.navbar.navbar-inverse.navbar-static-top div.container div.collapse.navbar-collapse ul.nav.navbar-nav li a {
	color: black;
	font-size: 14px;
	height: 69px;
	position: center;
	border: none;
	margin: 10px 10px;
	line-height: 69px;
	margin: 0px 5px;
	padding: 0px;
	display: inline-block;	
}*/

/*.navbar-inverse .navbar-nav > li:hover {
	background: black;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

nav.navbar.navbar-inverse.navbar-static-top div.container div.collapse.navbar-collapse ul.nav.navbar-nav li a:hover {
	color: white;
}*/



footer {
	background-color: white;
	color: black;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	width: 100%;
	text-align: center;
	background-attachment: fixed;
	margin-bottom: 10%;
}

footer p {
	margin-top: 10px;
	font-size: 12px;
}

footer a img {
	height: 20px;
	margin-bottom: 10px;
}

/*=========================Media Queries=========================*/

@media screen and (max-width: 970px){
	.navbar-inverse .navbar-nav li a{
		font-size: 12px;
	}	
}

@media screen and (max-width: 910px){
	nav h1 {
		font-size: 25px;
	}
	.navbar-inverse .navbar-nav li {
		font-size: 10px;
	}
}

@media screen and (max-width: 855px){
	nav h1 {
		font-size: 20px;
	}
	.navbar-inverse .navbar-nav li {
		font-size: 09px;
	}
}

@media screen and (max-width: 768px){
	/*.navbar-nav {
    	float: right;
    	margin: 0;
	}*/
	/*button.navbar-toggle.collapsed {
		background-color: black;
	}*/
	nav h1 {
		font-size: 20px;
	}

}

@media screen and (max-width: 420px){
	button.navbar-toggle.collapsed{
		margin-right: -8px;
	}
}

