header {
	background-color: white;
	color: black;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	width: 100%;
	background-attachment: fixed;
	box-sizing:border-box;
	padding: 0px; 
}

header h1 {
	float: left;
	display: inline-block;
}

h1 {
	color: black;
	float: left;
	display: inline;
	font-size: 30px;
}


div#bs-example-navbar-collapse-1.collapse.navbar-collapse {
	float: right;
	height: inherit;
	margin-bottom: 0px;
	margin-right: 0px auto;
}

div.container-fluid {
	border: none;
}

/*.container-fluid*/ button {
	background-color: black;
}

nav ul {
	float: right;
	background-color: white;
}

nav ul.nav.navbar-nav {
	margin-right: -15px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-inverse .navbar-nav li {
	float: right;
	display: inline;
	color: black;
}

.navbar-inverse .navbar-nav li:hover {
	background-color: black;
}



.navbar-inverse .navbar-nav li a {
	color: black;
	float: right;
	height: 63px;
	line-height: 38px;
}

.navbar-inverse .navbar-nav li a:hover{
	color: white;
}

button.navbar-toggle.collapsed {
	background-color: black;
}

nav.navbar.navbar-inverse.navbar-static-top {
	background-color: white;
	border: none;
}

footer {
	background-color: white;
	color: black;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	width: 100%;
	text-align: center;
	background-attachment: fixed;
	margin-bottom: 10%;
}

footer p {
	margin-top: 10px;
	font-size: 12px;
}

footer a img {
	height: 20px;
	margin-bottom: 10px;
}

/*=========================Media Queries=========================*/

@media screen and (max-width: 1114px){
	h1#cv {
		font-size: 20px;
	}
}

@media screen and (max-width: 970px){
	nav h1 {
		width: auto;
	}

	.navbar-inverse .navbar-nav li a{
		font-size: 12px;
	}	
}

@media screen and (max-width: 910px){
	nav h1 {
		font-size: 25px;
	}
	.navbar-inverse .navbar-nav li {
		font-size: 10px;
	}
}

@media screen and (max-width: 890px){
	ul#cv_ul li{
		margin-right: -1px;
	}
}

@media screen and (max-width: 885px){
	nav h1 {
		font-size: 22px;
	}
}

@media screen and (max-width: 855px){
	nav h1 {
		font-size: 20px;
	}
	nav h1#cv {
		font-size: 18px;
		height: auto;
	}
	.navbar-inverse .navbar-nav li {
		font-size: 09px;
	}
}

@media screen and (max-width: 812px){
	nav h1#cv {
		font-size: 16px;
	}
}

@media screen and (max-width: 798px){
	nav h1 {
		font-size: 18px;
	}
}

@media screen and (max-width: 770px){
	nav h1 {
		font-size: 17px;
	}
}

@media screen and (max-width: 768px){
	nav h1 {
		font-size: 16px;
	}

	nav h1#cv {
		font-size: 13px;
	}

}

@media screen and (max-width: 455px){
	/*h1#cv {
		font-size: 16px;
	}*/

	button#cv_button.navbar-toggle {
		margin-right: -10px;
	}

	ul#cv_ul.nav.navbar-nav {
		height: auto;
	}

	ul#cv_ul li a {
		margin-right: -5px;
	}
	button#cv_button.navbar-toggle.collapsed{
		margin-right: -10px;
}

@media screen and (max-width: 420px){
	button.navbar-toggle {
		margin-right: -10px;
	}
	button.navbar-toggle.collapsed{
		margin-right: -10px;
	}
}
